:root {
    --black: rgb(36, 34, 34);
    --white: #ecebeb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    margin: auto;
    z-index: 10;
}

button {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    display: block;
    margin: 12px auto;
}

button:hover {
    background-color: #d3d3d3;
}

#settings {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--white);
    margin: 20px 20px;
}

#game-over {
    color: var(--white);
    font-size: 24px;
    text-align: center;
}

#game-over button {
    padding: 10px 30px; 
    font-size: 24px;
}