:root {
    --black: rgb(36, 34, 34);
    --white: #ecebeb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    margin: auto;
    z-index: 10;
}

button {
    cursor: pointer;
    background-color: var(--white);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    display: block;
    
}

button:hover {
    background-color: #d3d3d3;
}

#settings {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--white);
    margin: 20px 20px;
    /* border: 1px solid green; */
    width: 300px;
    text-align:  center;
}

.settings-sub-container {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
}

#cpu-skill {
    margin-top: 8px;
    margin-bottom: 24px;
}

#cpu-skill button {
    width: 93.3px;
}

#cpu-skill, #settings-btns-container {
    display: flex;
    justify-content: space-between;
}

#settings-btns-container button {
    width: 145px;
}

hr {
    margin-top: 24px;
}

#pause {
    width: 100%;
    margin-top: 24px;
}

#player-name {
    color: var(--white);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#game-over {
    color: var(--white);
    font-size: 24px;
    text-align: center;
    width: 500px;
    height: 700px;
    padding-top: 200px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#game-over button {
    padding: 10px 30px; 
    font-size: 24px;
    margin: 12px auto;
}